<h2 class="ui center aligned icon header">
  <i class="user icon"></i>
  <div class="content">
    My Profile
  </div>
  <div class="sub header info">
    You can Update your password only
  </div>
</h2>
<div class="container">
  <div class="progress">
    <div
      class="progress-bar bg-info"
      role="progressbar"
      style="width: 50%;"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <form class="ui form">
    <br />
    <h4 class="ui dividing header">Basic Detail</h4>
    <div class="field">
      <label>Name : </label>
      <div class="two fields">
        <div class="field">
          <input
            disabled
            type="text"
            value="Subham"
            name="first-name"
            placeholder="First Name"
          />
        </div>
        <div class="field">
          <input
            disabled
            type="text"
            value="Singh"
            name="last-name"
            placeholder="Last Name"
          />
        </div>
      </div>
    </div>

    <div class="field">
      <label>Email Address : </label>
      <div class="field">
        <input
          disabled
          type="text"
          value="singhsubham510@gmail.com"
          name="email-id"
          placeholder="Email Address"
        />
      </div>
    </div>

    <div class="field">
      <label>Change Password : </label>
      <div class="field">
        <input type="password" name="password" placeholder="Password" />
      </div>
    </div>
    <h4 class="ui dividing header">Professional Detail</h4>
    <div class="field">
      <label>Department : </label>
      <div class="field">
        <input
          disabled
          type="text"
          value="Computer Application"
          name="dept"
          placeholder="Department Name"
        />
      </div>
    </div>
    <div class="field">
      <label>I am a : </label>
      <div class="field">
        <input
          disabled
          type="text"
          value="Student"
          name="profession"
          placeholder="Your Profession"
        />
      </div>
    </div>
    <div class="ui center aligned">
      <div class="two field">
        <div class="field">
          <div class="ui primary button">
            Save
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
